<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.3" name="LimeJeOS-Ubuntu-Xenial">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@suse.com</contact>
        <specification>Ubuntu Xenial JeOS</specification>
    </description>
    <preferences>
        <version>16.0.4</version>
        <packagemanager>apt-get</packagemanager>
        <bootsplash-theme>sabily</bootsplash-theme>
        <bootloader-theme>ubuntu-mate</bootloader-theme>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>
        <type image="iso" boot="isoboot/ubuntu-xenial" flags="overlay" hybrid="true" firmware="efi" hybridpersistent_filesystem="ext4" hybridpersistent="true"/>
        <type image="vmx" primary="true" filesystem="ext4" boot="vmxboot/ubuntu-xenial" bootloader="grub2" firmware="efi" initrd_system="dracut"/>
        <type image="oem" filesystem="ext4" boot="oemboot/ubuntu-xenial" bootloader="grub2" firmware="efi" initrd_system="dracut" installiso="true"/>
    </preferences>
    <users group="root">
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
    </users>
    <repository type="apt-deb" distribution="xenial" components="main multiverse restricted universe">
        <source path="http://ftp.halifax.rwth-aachen.de/ubuntu"/>
    </repository>
    <repository type="apt-deb">
        <source path="obs://Virtualization:/Appliances:/CommonBoot/xUbuntu_16.04"/>
    </repository>
<!-- isolinux boot graphics requires a gfxboot theme, however testing the
     theme caused an error in the theming code. Thus we disable this for
     the moment

    <packages type="iso">
        <package name="gfxboot-themes" bootinclude="true" bootdelete="true"/>
    </packages>
-->
    <packages type="image">
        <package name="grub2-themes-ubuntu-mate" bootinclude="true"/>
        <package name="plymouth-theme-sabily" bootinclude="true"/>
        <package name="vim"/>
        <package name="plymouth"/>
        <package name="grub-efi-amd64"/>
        <package name="dracut"/>
    </packages>
    <packages type="bootstrap">
        <package name="initramfs-tools"/>
        <package name="linux-generic"/>
        <package name="grub2"/>
    </packages>
</image>
