<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.2" name="LimeJeOS-Ubuntu-Xenial">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@suse.com</contact>
        <specification>Ubuntu Xenial JeOS</specification>
    </description>
    <preferences>
        <version>16.0.4</version>
        <packagemanager>apt-get</packagemanager>
        <bootsplash-theme>sabily</bootsplash-theme>
        <bootloader-theme>sabily</bootloader-theme>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>
        <type image="vmx" filesystem="ext4" boot="vmxboot/ubuntu-16.0" bootloader="grub2" firmware="efi" initrd_system="dracut"/>
    </preferences>
    <users group="root">
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
    </users>
    <repository type="apt-deb" distribution="xenial" components="main multiverse restricted universe">
        <source path="http://ftp.halifax.rwth-aachen.de/ubuntu"/>
    </repository>
    <packages type="image">
        <package name="vim"/>
        <package name="plymouth"/>
        <package name="plymouth-theme-sabily"/>
        <package name="grub2"/>
        <package name="dracut"/>
    </packages>
    <packages type="bootstrap">
        <package name="initramfs-tools"/>
        <package name="linux-generic"/>
    </packages>
</image>
