<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="LimeJeOS-Ubuntu-Xenial">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@suse.de</contact>
        <specification>Ubuntu Xenial JeOS</specification>
    </description>
    <preferences>
        <version>16.0.4</version>
        <packagemanager>apt-get</packagemanager>
        <bootsplash-theme>sabily</bootsplash-theme>
        <bootloader-theme>ubuntu-mate</bootloader-theme>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>Europe/Berlin</timezone>
        <type image="iso" flags="overlay" hybrid="true" firmware="efi" hybridpersistent_filesystem="ext4" hybridpersistent="true"/>
        <type image="vmx" primary="true" filesystem="ext4" bootloader="grub2" firmware="efi"/>
        <type image="oem" filesystem="ext4" initrd_system="dracut" bootloader="grub2" firmware="efi" installiso="true">
            <oemconfig>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
        </type>
    </preferences>
    <users>
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
    </users>
    <repository type="apt-deb" distribution="xenial" components="main multiverse restricted universe">
        <source path="http://ftp.halifax.rwth-aachen.de/ubuntu"/>
    </repository>
    <repository type="apt-deb">
        <source path="obs://Virtualization:Appliances:Builder/xUbuntu_16.04"/>
    </repository>
    <packages type="iso">
        <package name="dracut-kiwi-live"/>
    </packages>
    <packages type="oem">
        <package name="dracut-kiwi-oem-repart"/>
        <package name="dracut-kiwi-oem-dump"/>
    </packages>
    <packages type="image">
        <package name="grub2-themes-ubuntu-mate"/>
        <package name="plymouth-theme-sabily"/>
        <package name="vim"/>
        <package name="plymouth"/>
        <package name="grub-efi-amd64"/>
        <package name="dracut"/>
        <package name="linux-generic"/>
        <package name="isolinux"/>
        <package name="syslinux"/>
        <package name="syslinux-common"/>
    </packages>
    <packages type="bootstrap">
        <package name="initramfs-tools"/>
        <package name="linux-generic"/>
        <package name="grub2"/>
    </packages>
</image>
