<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.4" name="LimeJeOS-CentOS-07.0">
    <description type="system">
        <author>Marcus Schaefer</author>
        <contact>ms@suse.com</contact>
        <specification>CentOS Enterprise 7 JeOS</specification>
    </description>
    <strip type="delete">
        <file name="/usr/lib*/python*"/>
        <file name="/usr/lib*/gconv"/>
        <file name="/usr/share/zoneinfo"/>
        <file name="/usr/share/i18n"/>
        <file name="/lib/i686/nosegneg"/>
        <file name="/lib/kbd"/>
    </strip>
    <preferences>
        <version>1.2.0</version>
        <packagemanager>yum</packagemanager>
        <bootsplash-theme>charge</bootsplash-theme>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>UTC</timezone>
        <hwclock>utc</hwclock>
        <rpm-check-signatures>false</rpm-check-signatures>
        <type image="vmx" primary="true" boot="vmxboot/rhel-07.0" filesystem="ext3" kernelcmdline="rhgb" bootloader="grub2"/>
        <type image="oem" boot="oemboot/rhel-07.0" filesystem="ext3" installiso="true" bootloader="grub2" initrd_system="dracut">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-swapsize>200</oem-swapsize>
            </oemconfig>
        </type>
    </preferences>
    <users>
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
    </users>
    <repository type="rpm-md" alias="centos">
        <source path="http://bo.mirror.garr.it/1/slc/centos/7.2/os/x86_64"/>
    </repository>
<!-- Don't remove the following repos, they contain tools needed by kiwi -->
    <repository type="rpm-md" priority="1" alias="kiwi-common-boot">
        <source path="obs://Virtualization:/Appliances:/CommonBoot/CentOS_7"/>
    </repository>
    <packages type="image">
        <namedCollection name="core"/>
        <namedCollection name="console-internet"/>
        <package name="grub2"/>
        <package name="kernel"/>
        <package name="plymouth-theme-charge" bootinclude="true"/>
<!-- kiwi-tools package for centos has not yet been ported to CommonBoot
     It contains tools like utimer or dcounter which provides
     nice boot timer or progress dialogs for showing data transfer
     progress. These tools are used by the kiwi installer if present
     and improves the user experience but are not mandatory

        <package name="kiwi-tools" bootinclude="true"/>
-->
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="basesystem"/>
        <package name="yum-plugin-priorities"/>
    </packages>
</image>
