<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="LimeJeOS-CentOS-07.0">
    <description type="system">
        <author>Marcus Schaefer</author>
        <contact>ms@suse.de</contact>
        <specification>CentOS Enterprise 7 JeOS</specification>
    </description>
    <strip type="delete">
        <file name="/usr/lib*/python*"/>
        <file name="/usr/lib*/gconv"/>
        <file name="/usr/share/zoneinfo"/>
        <file name="/usr/share/i18n"/>
        <file name="/lib/i686/nosegneg"/>
        <file name="/lib/kbd"/>
    </strip>
    <preferences>
        <version>1.2.0</version>
        <packagemanager>yum</packagemanager>
        <bootsplash-theme>charge</bootsplash-theme>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>UTC</timezone>
        <rpm-check-signatures>false</rpm-check-signatures>
        <type image="iso" flags="overlay" hybrid="true" firmware="uefi" hybridpersistent_filesystem="ext4" hybridpersistent="true"/>
        <type image="vmx" primary="true" filesystem="ext3" kernelcmdline="rhgb" bootloader="grub2" firmware="uefi"/>
        <type image="oem" initrd_system="dracut" filesystem="ext3" installiso="true" bootloader="grub2" firmware="uefi">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-swapsize>200</oem-swapsize>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
        </type>
    </preferences>
    <users>
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
    </users>
    <repository type="rpm-md" alias="kiwi-next-generation" priority="1">
        <source path="obs://Virtualization:Appliances:Staging/CentOS_7"/>
    </repository>
    <repository type="rpm-md" alias="Fedora-EPEL7">
        <source path="http://download.fedoraproject.org/pub/epel/7/x86_64"/>
    </repository>
    <repository type="rpm-md" alias="CentOS7-Extras">
        <source path="http://mirror.centos.org/centos-7/7/extras/x86_64"/>
    </repository>
    <repository type="rpm-md" alias="CentOS7-Updates">
        <source path="http://mirror.centos.org/centos-7/7/updates/x86_64"/>
    </repository>
    <repository type="rpm-md" alias="CentOS7">
        <source path="http://mirror.centos.org/centos-7/7/os/x86_64"/>
    </repository>
    <packages type="image">
        <namedCollection name="core"/>
        <namedCollection name="console-internet"/>
        <package name="syslinux"/>
        <package name="grub2"/>
        <package name="kernel"/>
        <package name="plymouth-theme-charge"/>
    </packages>
    <packages type="iso">
        <package name="dracut-kiwi-live"/>
    </packages>
    <packages type="oem">
        <package name="dracut-kiwi-oem-repart"/>
        <package name="dracut-kiwi-oem-dump"/>
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="basesystem"/>
        <package name="yum-plugin-priorities"/>
        <package name="nextgen-yum4"/>
        <package name="grub2-efi-x64-modules"/>
        <package name="grub2-efi-x64"/>
        <package name="shim-x64" arch="x86_64"/>
    </packages>
</image>
