<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="LimeJeOS-RHEL-07.0">
    <description type="system">
        <author>Marcus Schaefer</author>
        <contact>ms@suse.de</contact>
        <specification>RHEL Enterprise 7 JeOS</specification>
    </description>
    <strip type="delete">
        <file name="/usr/lib*/python*"/>
        <file name="/usr/lib*/gconv"/>
        <file name="/usr/share/zoneinfo"/>
        <file name="/usr/share/i18n"/>
        <file name="/lib/i686/nosegneg"/>
        <file name="/lib/kbd"/>
    </strip>
    <preferences>
        <version>1.2.0</version>
        <packagemanager>yum</packagemanager>
        <bootsplash-theme>charge</bootsplash-theme>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>UTC</timezone>
        <rpm-check-signatures>false</rpm-check-signatures>
        <type image="vmx" primary="true" filesystem="ext3" kernelcmdline="rhgb" bootloader="grub2"/>
        <type image="oem" initrd_system="dracut" filesystem="ext3" installiso="true" bootloader="grub2">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-swapsize>200</oem-swapsize>
            </oemconfig>
        </type>
    </preferences>
    <users>
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
    </users>
    <repository type="rpm-md">
        <source path="iso:///image/CDs/RHEL-7.0-x86_64-DVD.iso"/>
    </repository>
    <repository type="rpm-md" priority="1">
        <source path="obs://Virtualization:Appliances:Builder/RHEL_7"/>
    </repository>
    <packages type="image">
        <namedCollection name="Minimal Install"/>
        <namedCollection name="Console Internet Tools"/>
        <package name="grub2"/>
        <package name="kernel"/>
        <package name="plymouth-theme-charge"/>
    </packages>
    <packages type="oem">
        <package name="dracut-kiwi-oem-repart"/>
        <package name="dracut-kiwi-oem-dump"/>
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="basesystem"/>
    </packages>
</image>
