<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="LimeJeOS-Debian-Stretch">
    <description type="system">
        <author>Marcus Schäfer</author>
        <contact>ms@suse.de</contact>
        <specification>Debian Stretch JeOS</specification>
    </description>
    <preferences>
        <version>9.2</version>
        <packagemanager>apt-get</packagemanager>
        <bootsplash-theme>fade-in</bootsplash-theme>
        <bootloader-theme>starfield</bootloader-theme>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>Europe/Berlin</timezone>
        <type image="vmx" primary="true" filesystem="ext4" bootloader="grub2" firmware="efi"/>
    </preferences>
    <users>
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
    </users>
    <repository type="apt-deb" distribution="stretch" components="main contrib non-free">
        <source path="http://ftp.halifax.rwth-aachen.de/debian"/>
    </repository>
    <repository type="apt-deb">
        <source path="obs://Virtualization:Appliances:Builder/Debian_9.0"/>
    </repository>
    <packages type="image">
        <package name="grub-theme-starfield"/>
        <package name="plymouth-themes"/>
        <package name="vim"/>
        <package name="plymouth"/>
        <package name="grub-efi-amd64"/>
        <package name="dracut"/>
        <package name="xz-utils"/>
        <package name="binutils"/>
        <package name="linux-image-amd64"/>
        <package name="isolinux"/>
        <package name="syslinux"/>
        <package name="syslinux-common"/>
        <package name="init"/>
        <package name="gnupg"/>
        <package name="iproute2"/>
        <package name="iptables"/>
        <package name="iputils-ping"/>
        <package name="ifupdown"/>
        <package name="isc-dhcp-client"/>
        <package name="netbase"/>
        <package name="bsdmainutils"/>
    </packages>
    <packages type="bootstrap">
        <package name="initramfs-tools"/>
        <package name="linux-image-amd64"/>
        <package name="grub2"/>
    </packages>
</image>
