[Unit]
Description=Resize Volume %i
Requires=add_device@.service
After=add_device@.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/resize_volume %i

[Install]
WantedBy=multi-user.target
