[Unit]
Description=Resize Volume %i
Requires=add_device.service
After=add_device.service network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/resize_volume %i

[Install]
WantedBy=multi-user.target
